version: '3.8'

services:
  db:
    image: postgres:15
    container_name: ius_nsi_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: IUS_NSI
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/00-init.sql:/docker-entrypoint-initdb.d/00-init.sql:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
